@import url('http://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --main-pinkviolet:#A47291;
    --main-violet:#591455;
    --main-darkviolet:#390F3D;
    --main-babyblue:#D4E2EB;
    --main-darkblue:#253C59;

}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins' , snas-serif;
}


/* banner */

.banner{
    position:relative;
    width:100%;
    height:100vh;
    background: url(123.jpg);
    background-size:cover;
    background-position:bottom;
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner #text{
    position:relative;
    font-size:12rem;
    color: #eee;

}

.banner .clouds{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
}

.banner .clouds img{
    position: absolute;
    bottom:0;
    max-width:100%;
    animation:animate calc(3s * var(--a)) linear infinite;
}

@keyframes animate{
    0%{
        opacity:0;
        transform:scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity:0;
        transform:scale(3);
    }
}

section h2{
    font-size:40px;
}

/* portfolio */

.portfolio{
    background-color: var(--main-violet);
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    color:#eee;
}

.container_por{
    position:relative;
    width:70vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    background-color:var(--main-violet);
    padding:80px 40px;
}

.container_por .card{
    position:relative;
    max-width:300px;
    height:215px;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    box-shadow:0 5px 202px var(--main-pinkviolet);
    transition:0.3s ease-in-out;
}

.container_por .card:hover{
    height:300px;
}

.container_por .card .imageBox{
    position:relative;
    width:260px;
    height:260px;
    top:-60px;
    /* box-shadow:0 5px 20px var(--main-darkviolet); */

}
.container_por .card .imageBox img{
    max-width:100%;
    border-radius:4px;
}
.imageBox{
    width:300px;
    height:300px;
}

.container_por .card .content_por{
    margin-top:-140px;
    padding:10px 15px;
    text-align:center;
    color:#111;
    opacity:0;
    visibility: hidden;
    transition:0.3s ease-in-out;
}

.container_por .card:hover .content_por{
    visibility: visible;
    opacity:1;
    margin-top:-100px;
    transition-delay: 0.2s;
}





.contactme{
    background-color:#ddd;
    width:100vw;
    height:80vh;
    text-align:center;
    /* display:flex; */
    /* justify-content:center; */
}
.formBlock{
    background-color:blue !important;
    width:50%;
    height:60vh;
    padding-left:20px;
    margin-top:20vh;
    text-align:left;
    display:flex;
}
.contactImg{
    background-image: url(th.jpeg);
    background-size:cover;
    background-position:center;
    width:50%;
    height:60vh;
}