@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --main-pinkviolet:#A47291;
    --main-violet:#591455;
    --main-darkviolet:#390F3D;
    --main-babyblue:#D4E2EB;
    --main-darkblue:#253C59;
    --main-or:#E19467;
}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins' , snas-serif;
}

section{
    width:100vw;
    overflow:hidden;
    padding-top:30px;
    padding-bottom:30px;
    background-color: var(--main-babyblue);
}


section .aboutMe .title{
    background-color: var(--main-babyblue);
    color:#1e1e1e;
    height:20vh;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    
}

.ft{
    font-size:80px;
}

section h2{
    font-size:40px;
    top:50%;
    transition:translate(-50%,0);
}

.line1{
    border-bottom:5px double var(--main-darkblue);
    height:70px;
}

.content{
    height:80vh;
    padding:10%;
    background-color: var(--main-babyblue);
}



/* banner */

.banner{
    position:relative;
    width:100%;
    height:100vh;
    background: url(photo-1541781976572-.jpg);
    background-size:cover;
    background-position:bottom;
    display:flex;
    justify-content:center;
    align-items:center;
    /* z-index:5; */
}

.banner #text{
    position:relative;
    font-size:8rem;
    color: #EEECE8;

}

.banner .clouds{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
}

.banner .clouds img{
    position: absolute;
    bottom:0;
    max-width:100%;
    animation:animate calc(3s * var(--a)) linear infinite;
}

@keyframes animate{
    0%{
        opacity:0;
        transform:scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity:0;
        transform:scale(3);
    }
}


/* about me */

.aboutme{
    position:relative;
}

.aboutMe .bk{
    position:absolute;
}

.bk1{
    background-color: var(--main-darkblue);
    z-index:1;
    top:20%;
    left:-30%;
    width:500px;
    height:500px;
}
.bk2{
    background-color: transparent;
    border:2px solid var(--main-pinkviolet);
    top:-10%;
    left:15%;
    width:400px;
    height:400px;
    z-index:2;
}

.content .aboutmeText{
    z-index:5;
    font-size:1rem;
    color:#1e1e1e;
}

.content .aboutmeImg{
    position:absolute;
    height:500px;
    width:400px;
    z-index:3;
}
.content .aboutmeImg2{
    display:none;
    width:200px;
    height:250px;
}

#img2{
    height:150px;
}

@media (max-width: 1150px){
    .bk1{
        display:none;
    }
    .bk2{
        display:none;
    }
}
@media (max-width: 580px){
    .content .aboutmeImg{
        display:none;
    }
    .content .aboutmeImg2{
        display:block;
        
    }
}


/* @media (min-width: 660px)
.hero__description {
    display: block; */


/* workExperience */



.workExperience .content{
    display:flex;
    justify-content: space-between;
}

.workExperience .content .workBox{
    width:350px;
    height:300px;
    border:1px solid var(--main-darkblue);
    color:red;
    box-sizing:content-box;
    padding:10px;
    position:absolute;
}

.workBox1{
    z-index: 1;
}
.workBox2{
    z-index: 2;
    left:450px;
}
.workBox3{
    z-index: 3;
    left:800px;
}

@media (max-width: 767px){
    .workExperience .content .workBox{
        width:90%;
    }
}


/* skilltext */
.skilltext{
    font-size:2rem;
}


/* portfolio */

.portfolio{
    background-color:#EEECE8;
    height:100%;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    color:var(--main-violet);
    
    /* background-image: url("photo-1541781976572-b6bdbecffb8f.jpg"); */
}

.portfolio .title_por{
    font-size:120px;
    background-color: #3F5D24;
    color:#EEECE8;
}

.container_por{
    position:relative;
    width:75vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    background-color:#EEECE8;
    padding:80px 40px;
}

.container_por .card{
    position:relative;
    max-width:300px;
    height:215px;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    align-items: center;
    flex-direction:column;
    box-shadow:0 5px 202px var(--main-babyblue);
    transition:0.3s ease-in-out;
    
}

.container_por .card:hover{
    height:350px;
}

.container_por .card .imageBox{
    position:relative;
    width:200px;
    height:260px;
    top:-60px;
}

.container_por .card:hover .imageBox{
    height:260px;
}

.container_por .card .imageBox img{
    max-width:100%;
}

.imageBox{
    width:300px;
    height:300px;
}

.container_por .card .content_por{
    margin-top:-140px;
    padding:10px 15px;
    text-align:center;
    color:#111;
    opacity:0;
    visibility: hidden;
    transition:0.3s ease-in-out;
}

.container_por .card:hover .content_por{
    color:var(--main-babyblue);
    visibility: visible;
    opacity:1;
    margin-top:-100px;
    transition-delay: 0.2s;
}



/* getIntouch */

.contactme{
    background-color:#ddd;
    width:100vw;
    height:80vh;
    text-align:center;
}
.formBlock{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:var(--main-darkblue);
    height:60vh;
    text-align:left;
    
}
.contactImg{
    background-image: url(th.jpeg);
    background-size:cover;
    background-position:center;
    height:60vh;
}

.inputBox{
    /* letter-spacing:20px;
    line-height:10px; */
    border-radius:50%;
    border:5px solid pink;
}