@import url('http://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --main-pink:#c83aa2;
}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins' , snas-serif;
}

.banner{
    position:relative;
    width:100%;
    height:100vh;
    background: url(123.jpg);
    background-size:cover;
    background-position:bottom;
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner #text{
    position:relative;
    font-size:12rem;
    color: #eee;

}

.banner .clouds{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
}

.banner .clouds img{
    position: absolute;
    bottom:0;
    max-width:100%;
    animation:animate calc(3s * var(--a)) linear infinite;
}

@keyframes animate{
    0%{
        opacity:0;
        transform:scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity:0;
        transform:scale(3);
    }
}

section{
    position: relative;
    padding:75px 100px;
}
section h2{
    position: relative;
    font-size:2.5rem;
    margin-bottom:20px;
}






.contactme{
    background-color:var(--main-pink);
    width:100vw;
    height:80vh;
    text-align:center;
    /* display:flex; */
    /* justify-content:center; */
}
.formBlock{
    background-color:blue !important;
    width:50%;
    height:60vh;
    padding-left:20px;
    margin-top:20vh;
    text-align:left;
    display:flex;
}
.contactImg{
    background-image: url(th.jpeg);
    background-size:cover;
    background-position:center;
    width:50%;
    height:60vh;
}